// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #f5ebe1;
@light-gray: #dfd6cd;
@gray: #c9c1b9;
@light-medium-gray: #b4ada6;
@medium-gray: #707070;
@dark-gray: #646464;
@very-dark-gray: #585858;

@cyan: #1a8591;
@blue: #4a858c;
@purple: #8c4a79;
@green: #697024;
@brown: #bd745e;
@red: #b3534b;
@orange: #de935f;
@light-orange: @orange;
@olive: #476238;
@warning: #ff1276;
